body {
  border-left: 0px none black;
  background-color: white;
  font-family: Roboto, sans-serif;
  color: #151515;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin: 10px 20% 17px;
  padding-right: 0px;
  padding-left: 0px;
  border-bottom: 2px solid rgba(59, 59, 59, 0.44);
  color: black;
  font-size: 44px;
  line-height: 54px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0px;
  text-indent: 0px;
  text-shadow: none;
}

h2 {
  margin: 15px 0px 12px;
  color: white;
  font-size: 38px;
  line-height: 36px;
  font-weight: 300;
  text-shadow: none;
}

h3 {
  margin: 5px 0px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  text-shadow: none;
}

h4 {
  margin: 10px 0px;
  border: 0px none black;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

h5 {
  margin: 11px 0px 10px;
  color: white;
  font-size: 17px;
  line-height: 20px;
  font-weight: 200;
  text-align: center;
}

h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
  padding-right: 60px;
  padding-left: 60px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 23px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0px;
  text-shadow: none;
}

.button {
  position: relative;
  left: 0px;
  bottom: 0px;
  display: block;
  width: 30%;
  height: 54px;
  margin-left: -1px;
  padding: 4px 29px;
  float: left;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #585858;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: white;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  border: 1px solid #292929;
  background-color: #49ba56;
}
/* Bounce CSS */
.css3-notification {

  /*position: relative;*/


  -webkit-animation: bounce 800ms ease-out;
  -moz-animation: bounce 800ms ease-out;
  -o-animation: bounce 800ms ease-out;
  animation: bounce 800ms ease-out;
}

/* Webkit, Chrome and Safari */

@-webkit-keyframes bounce {
  0% {
    -webkit-transform:translateY(-100%);
    opacity: 0;
  }
  5% {
    -webkit-transform:translateY(-100%);
    opacity: 0;
  }
  15% {
    -webkit-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
    -webkit-transform:translateY(-50%);
  }
  40% {
    -webkit-transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
    -webkit-transform:translateY(-30%);
  }
  70% {
    -webkit-transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
    -webkit-transform:translateY(-15%);
  }
  90% {
    -webkit-transform:translateY(0%);
    padding-bottom: 8px;
  }
  95% {
    -webkit-transform:translateY(-10%);
  }
  97% {
    -webkit-transform:translateY(0%);
    padding-bottom: 9px;
  }
  99% {
    -webkit-transform:translateY(-5%);
  }
  100% {
    -webkit-transform:translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}

/* Mozilla Firefox 15 below */
@-moz-keyframes bounce {
  0% {
    -moz-transform:translateY(-100%);
    opacity: 0;
  }
  5% {
    -moz-transform:translateY(-100%);
    opacity: 0;
  }
  15% {
    -moz-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
    -moz-transform:translateY(-50%);
  }
  40% {
    -moz-transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
    -moz-transform:translateY(-30%);
  }
  70% {
    -moz-transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
    -moz-transform:translateY(-15%);
  }
  90% {
    -moz-transform:translateY(0%);
    padding-bottom: 8px;
  }
  95% {
    -moz-transform:translateY(-10%);
  }
  97% {
    -moz-transform:translateY(0%);
    padding-bottom: 9px;
  }
  99% {
    -moz-transform:translateY(-5%);
  }
  100% {
    -moz-transform:translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}

/* Opera 12.0 */
@-o-keyframes bounce {
  0% {
    -o-transform:translateY(-100%);
    opacity: 0;
  }
  5% {
    -o-transform:translateY(-100%);
    opacity: 0;
  }
  15% {
    -o-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
    -o-transform:translateY(-50%);
  }
  40% {
    -o-transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
    -o-transform:translateY(-30%);
  }
  70% {
    -o-transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
    -o-transform:translateY(-15%);
  }
  90% {
    -o-transform:translateY(0%);
    padding-bottom: 8px;
  }
  95% {
    -o-transform:translateY(-10%);
  }
  97% {
    -o-transform:translateY(0%);
    padding-bottom: 9px;
  }
  99% {
    -o-transform:translateY(-5%);
  }
  100% {
    -o-transform:translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}

/* W3, Opera 12+, Firefox 16+ */
@keyframes bounce {
  0% {
    transform:translateY(-100%);
    opacity: 0;
  }
  5% {
    transform:translateY(-100%);
    opacity: 0;
  }
  15% {
    transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
    transform:translateY(-50%);
  }
  40% {
    transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
    transform:translateY(-30%);
  }
  70% {
    transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
    transform:translateY(-15%);
  }
  90% {
    transform:translateY(0%);
    padding-bottom: 8px;
  }
  95% {
    transform:translateY(-7%);
  }
  97% {
    transform:translateY(0%);
    padding-bottom: 9px;
  }
  99% {
    transform:translateY(-3%);
  }
  100% {
    transform:translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}


.field {
  width: 70%;
  height: 54px;
  padding-right: 20px;
  padding-left: 20px;
  float: left;
  border: 0px solid black;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: white;
  box-shadow: transparent 0px 0px 8px 0px inset;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  color: #806732;
  font-size: 18px;
  font-weight: 300;
}

.field:focus {
  box-shadow: #b59143 0px 0px 0px 2px inset;
}

.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: scale(0.8);
  transition: 0.5s;
}
input[type="radio"]:checked ~ .reveal-if-active,
input[type="checkbox"]:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 250px; /* little bit of a magic number :( */
  overflow: visible;
  padding: 10px 20px;
  transform: scale(1);
}

.sign-up-form {
  margin-top: 40px;
  padding-top: 25px;
}

.success-message {
  padding: 20px;
  border-radius: 2px;
  background-color: #dbdbdb;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: white;
}

.spread-word {
  margin-top: 20px;
  margin-bottom: 9px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #303030;
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-shadow: none;
}

.error-message {
  padding-bottom: 5px;
  border-radius: 2px;
  background-color: #5c3245;
}

.container {
  padding: 0px 70px;
}

.social-section {
  display: block;
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: #49ba56;
  text-align: center;
}

.navbar {
  position: relative;
  margin-bottom: -8px;
  padding-top: 0px;
  padding-bottom: 1px;
  background-image: url('../images/top bar backgrounddarkers.png');
  background-position: 0px 0px;
  background-size: 512px;
}

.left-nav {
  position: relative;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 300px;
  height: auto;
  padding-right: 65px;
}

.right-nav {
  bottom: auto;
  display: block;
  margin-top: 3px;
  padding: 31px 69px 32px 0px;
  text-align: right;
}

.brand {
  display: block;
  margin-top: 0px;
  margin-bottom: 8px;
  padding-top: 10px;
  float: none;
  color: #2e2e2e;
  font-size: 32px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
}

.logo {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  max-width: 164%;
  margin-top: 0px;
  margin-right: 13px;
  margin-left: 0px;
  float: none;
  opacity: 1;
  text-align: left;
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 300;
  text-align: center;
}

.section.hero {
  padding-top: 10px;
  padding-bottom: 0px;
  background-color: #49ba56;
  background-image: url('../images/tincanbackground.png');
  background-position: 87% 18%;
  background-size: 508px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

.section.hero.success {
  background-color: #49ba56;
}

.section.grey {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f2f2f2;
  background-image: url('../images/BB Symbol grey.png');
  background-position: 100% 50%;
  background-size: 405px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  line-height: 18px;
}

.grey-heading {
  margin-top: 0px;
  margin-bottom: 3px;
  padding-top: 17px;
  padding-bottom: 6px;
  border: 0px solid transparent;
  color: #353535;
  font-size: 44px;
  font-weight: 300;
  text-align: center;
  text-shadow: none;
}

.nav-bar {
  left: 0px;
  top: 0px;
  bottom: 0px;
  margin-top: 0px;
  padding-bottom: 1px;
  float: right;
  background-color: transparent;
}

.text {
  padding-left: 15px;
  font-size: 25px;
}

.navbar2 {
  position: static;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  background-color: transparent;
  color: white;
}

.link {
  margin-right: 8px;
  padding-right: 20px;
  border: 2px solid #49ba56;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  font-size: 21px;
}

.link:hover {
  background-color: rgba(73, 186, 86, 0.9);
  color: #393939;
}

.containersss {
  position: relative;
  margin-top: 0px;
  margin-right: -9px;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 0px;
}

.findaboartd {
  margin-bottom: 7px;
  padding-top: 22px;
  padding-bottom: 0px;
  float: left;
  clear: none;
  font-family: 'Roboto Condensed', sans-serif;
  color: #3e3e3e;
  font-size: 26px;
  font-weight: 500;
}

.video {
  margin-top: 10px;
}

.desctext {
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
}

.howtitle {
  position: static;
  left: 0px;
  bottom: 0px;
  display: block;
  margin-bottom: 12px;
  padding-top: 7px;
  padding-bottom: 0px;
  float: none;
  clear: none;
  border: 2px none #49ba56;
  border-radius: 14px;
  font-size: 19px;
  font-weight: 500;
  text-align: center;
}

.colum2 {
  position: relative;
  left: 0px;
  top: 0px;
  border: 2px none #49ba56;
  border-radius: 11px;
  background-color: transparent;
}

.icon {
  margin-left: 227px;
  padding-left: 0px;
  text-align: right;
}

.just-do-it {
  position: absolute;
  left: auto;
  top: 2%;
  right: 10%;
  bottom: auto;
  font-family: Exo, sans-serif;
  color: whitesmoke;
}

.howdesc {
  text-align: justify;
  list-style-type: none;
}

.buildabb {
  position: static;
  left: 0px;
  bottom: 0px;
  margin-top: 61px;
  float: none;
  clear: none;
  border: 2px solid #49ba56;
  border-radius: 20px;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.38) 1px 1px 3px 0px;
  color: #292929;
  font-size: 18px;
}

.buildabb:hover {
  border-color: #49ba56;
  background-color: #49ba56;
  color: white;
}

.buildabb.pricei {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
}

.buildabb.pricei:hover {
  background-color: #49ba56;
}

.buildbbheading {
  padding-bottom: 20px;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

.in3min {
  position: absolute;
  top: auto;
  right: 100px;
  bottom: 35px;
  z-index: 3;
  margin-top: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  color: white;
}

.keepup {
  font-size: 19px;
  font-weight: 200;
  text-align: center;
}

.emaillist {
  padding-top: 19px;
}

.convo {
  display: inline-block;
  padding-bottom: 0px;
}

.shouticopn {
  padding-top: 15px;
}

.boardname {
  position: relative;
  top: 0px;
  right: 0px;
  margin-top: 8px;
  margin-bottom: 4px;
  padding-bottom: 7px;
  float: left;
  clear: none;
  font-size: 18px;
  text-align: center;
  font-weight: normal;
}

.name {
  float: left;
}

.addasub {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  margin-top: 19px;
  margin-right: 0px;
  margin-left: 0px;
  float: none;
  border: 2px solid #49ba56;
  border-radius: 20px;
  background-color: transparent;
  color: #414141;
  text-align: center;
}

.build-aboar-buttons {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  margin-left: 0px;
  padding: 20px;
  float: none;
  clear: none;
  border: 3px solid #e5e5e5;
  border-radius: 10px;
  background-color: #efefef;
  color: #434343;
  text-align: center;
}

.build-aboar-buttons:hover {
  box-shadow: rgba(130, 130, 130, 0.2) 0px 0px 21px 2px inset;
}

.build-aboar-buttons:active {
  background-color: #e9e7e7;
  box-shadow: none;
}

.build-aboar-buttons:focus {
  background-color: #cfcfcf;
}

.subheading {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 300;
  text-align: center;
}

.divblock-test {
  position: static;
  left: 0px;
  top: 0px;
  bottom: 0px;
  margin-right: 0px;
  padding-right: 31%;
  padding-left: 31%;
  float: none;
  clear: none;
}

.usersettingscontainer {
  margin-top: 10px;
  margin-bottom: 30px;
}

.addentrypointdblock {
  display: block;
  margin-right: 30%;
  margin-left: 30%;
}

.footerh1 {
  clear: left;
  text-align: center;
}

.footerlink {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: none;
  clear: left;
  color: rgba(42, 148, 19, 0.68);
  text-align: center;
  text-decoration: none;
}

.pincodeicon {
  padding-top: 33px;
}

.subtitle {
  margin-top: 0px;
  padding-top: 15px;
  padding-bottom: 25px;
  font-size: 21px;
  font-weight: 300;
  text-align: left;
}

.pingenerate {
  position: static;
  right: 0px;
  bottom: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  float: none;
  clear: none;
  border: 2px solid #49ba56;
  border-radius: 20px;
  background-color: transparent;
  color: #323232;
  font-size: 16px;
}

.pingenerate:hover {
  box-shadow: none;
}

.or {
  padding-top: 8px;
  color: rgba(78, 78, 78, 0.89);
  font-size: 27px;
  text-align: center;
}

.generateboard {
  padding: 25px;
  border: 4px solid #49ba56;
  border-radius: 20px;
  background-color: transparent;
  box-shadow: black 1px 1px 3px 0px;
  color: #222;
  font-size: 21px;
  text-align: center;
}

.generateboard:hover {
  box-shadow: none;
}

.basiclink {
  color: #49ba56;
}

.blurbtext {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.map {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: inline-block;
  width: 80%;
  height: 297px;
  margin-top: 20px;
  padding-top: 10px;
  float: none;
  border: 1px solid #676767;
  border-radius: 0px;
}

.about-blurb {
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 0px;
  float: none;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  text-align: left;
}

.container2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  text-align: center;
}

.contosinerf {
  padding-right: 5px;
  padding-bottom: 2px;
  padding-left: 5px;
}

.asdasd {
  margin-bottom: 0px;
  padding-right: 5px;
  padding-bottom: 33px;
  padding-left: 5px;
  border-bottom: 2px solid #d0d0d0;
}

.lefttayto {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: inline-block;
  width: 18%;
  height: auto;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  border-bottom: 0px none black;
  background-color: transparent;
  background-image: url('../images/top bar backgrounddarkers.png');
  background-position: 0px 0px;
  background-size: 512px;
}

.footer-central-colum {
  text-align: center;
}

.logo2 {
  max-width: 80%;
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 27px;
  float: none;
  clear: none;
}

.rightcontainer {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
}

.boardnamhead {
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 16px;
  padding-left: 10px;
  float: left;
  color: black;
}

.sortbutton {
  margin-top: 9px;
  margin-bottom: 0px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;
  background-color: transparent;
  background-image: url('../images/grow icon.png');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  color: transparent;
}

.sortbutton:hover {
  border: 2px none #49ba56;
  border-radius: 20px;
  background-image: url('../images/grow icon green.png');
  background-size: cover;
}

.hotbutton {
  margin-left: 20px;
  padding-bottom: 41px;
  padding-left: 9px;
  background-color: transparent;
  background-image: url('../images/hoticon.png');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  color: transparent;
}

.hotbutton:hover {
  background-image: url('../images/Fire.png');
  background-size: contain;
}

.topbutton {
  padding-bottom: 46px;
  padding-left: 28px;
  background-color: transparent;
  background-image: url('../images/arrowicon.png');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  color: transparent;
}

.topbutton:hover {
  background-image: url('../images/arrowicongreen.png');
  background-size: contain;
}

.boardheadersection {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  float: none;
  border-bottom: 2px solid #49ba56;
}

.settingsbutton {
  margin-top: 5px;
  padding-bottom: 43px;
  padding-left: 43px;
  float: right;
  background-color: transparent;
  background-image: url('../images/settingicon.png');
  background-position: 50% 50%;
  background-size: 63px;
  background-repeat: no-repeat;
  color: transparent;
}

.loginicon {
  margin-top: 0px;
  margin-left: 20px;
  padding-bottom: 53px;
  padding-left: 29px;
  float: right;
  background-color: transparent;
  background-image: url('../images/loginicon.png');
  background-position: 50% 50%;
  background-size: 78px;
  background-repeat: no-repeat;
}

.board-blurb {
  margin-top: 30px;
  float: left;
  color: white;
}

.boardformsection {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.send {
  position: static;
  left: 0px;
  right: 10px;
  bottom: 56px;
  display: inline-block;
  margin-bottom: 0px;
  padding-right: 45px;
  padding-bottom: 9px;
  padding-left: 45px;
  float: right;
  background-color: #49ba56;
  font-size: 22px;
}

.commenttextare {
  margin-top: 0px;
  padding-top: 8px;
  padding-bottom: 30px;
  float: none;
  clear: none;
  border-radius: 20px;
}

.board-div-block {
  margin-top: 11px;
  padding-top: 23px;
  padding-bottom: 23px;
  border-top: 2px dashed rgba(73, 186, 86, 0.5);
  border-bottom: 2px dashed rgba(73, 186, 86, 0.5);
  text-align: center;
}

.logintoview {
  color: white;
  text-align: center;
}

.loginlink {
  color: #49ba56;
}

.divblocklogin {
  margin-top: 20px;
}

.commenttscontainer {
  margin-top: 12px;
  margin-bottom: 0px;
  border: 1px none rgba(51, 51, 51, 0);
  border-radius: 26px;
  box-shadow: gray 0px 0px 6px 0px;
}

.commenttext {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-right: 30px;
  padding-left: 25px;
  border-left: 2px none #49ba56;
  color: black;
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  list-style-type: none;
}

.voteup {
  margin-top: 3px;
  margin-left: 1%;
  float: left;
  background-color: transparent;
  background-image: url('../images/upvote.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  color: transparent;
}

.votedown {
  position: static;
  left: 30px;
  bottom: 0px;
  margin-left: 2%;
  padding-right: 20px;
  padding-left: 20px;
  float: left;
  clear: left;
  background-color: transparent;
  background-image: url('../images/votedown.png');
  background-position: 50% 50%;
  background-size: cover;
}

.votenumberdivlbock {
  position: relative;
  z-index: 0;
  margin-left: 3%;
  padding-left: 0px;
  float: left;
  clear: left;
}

.votenumber {
  position: relative;
  z-index: 0;
  font-size: 16px;
}

.level1commentdivblock {
  margin: 0px 3px 7px 62px;
  padding-right: 2px;
  padding-left: 0px;
  border-radius: 20px;
  background-color: #f3f3f3;
}

.replytext {
  margin-left: 0px;
  padding-top: 5px;
  padding-right: 0px;
  padding-left: 54px;
  border: 0px none #eaeaea;
  border-radius: 2px;
  color: black;
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
}

.level1upvote {
  margin-top: 1px;
  margin-left: 9px;
  padding: 0px 15px 0px 0px;
  float: left;
  background-color: transparent;
  background-image: url('../images/voteupicon.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.level0commentdiv {
  margin-bottom: 0px;
  padding-bottom: 5px;
  border-radius: 0px;
}

.level1downvote {
  position: static;
  left: 0px;
  top: 0px;
  bottom: 0px;
  margin: 0px 5px 0px 10px;
  padding: 0px 4px 0px 8px;
  float: left;
  clear: left;
  background-color: transparent;
  background-image: url('../images/upvotelevel1.png');
  background-position: 50% 50%;
  background-size: auto 14px;
  background-repeat: no-repeat;
}

.level1votecount {
  position: static;
  left: 32px;
  top: 34px;
  right: -44px;
  margin-top: 0px;
  margin-left: 10px;
  float: left;
  clear: left;
}

.replydiv {
  position: relative;
  left: auto;
  top: -7px;
  right: 19px;
  margin-top: 5px;
  margin-left: 0px;
  float: right;
}

.level0replydiv {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  margin-top: -14px;
  margin-right: 17px;
  float: right;
}

.level0reply {
  margin-right: 9px;
  padding-right: 0px;
  float: right;
  color: #49ba56;
  font-weight: 700;
  letter-spacing: 2px;
}

.colom2 {
  padding-right: 0px;
  padding-left: 1%;
}

.messagecontainer {
  background-color: rgba(255, 255, 255, 0.86);
}

.col2 {
  padding-right: 0px;
  padding-left: 10px;
}

.bgounrdnoaccess {
  background-color: #181818;
  background-image: url('../images/sadbaby.png');
  background-position: 7% -33%;
  background-size: auto;
  background-repeat: no-repeat;
}

.noacesscont {
  position: relative;
  top: auto;
  bottom: auto;
  margin-top: 0px;
  padding-top: 0px;
}

.divacess {
  margin-top: 30%;
  margin-bottom: 30%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid #ababab;
  background-color: white;
}

.pinentry {
  position: relative;
  margin-right: 0px;
  float: none;
  clear: none;
}

.formwrapper {
  margin-right: 100px;
  margin-left: 100px;
}

.myface {
  margin-top: 15px;
  margin-left: 0px;
  padding-left: 0px;
  float: none;
  border: 1px solid #8c8c8c;
  text-align: left;
}

.imagesubhead {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  text-align: center;
}

.landng-pagbground {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: transparent;
  background-image: url('../images/top bar background.png');
  background-position: 0px 0px;
  background-size: auto;
}

.landingpagelayer {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow-x: visible;
  overflow-y: visible;
  background-color: rgba(0, 0, 0, 0.52);
}

.itscoming {
  margin-top: 15px;
  padding-top: 0px;
  padding-bottom: 25px;
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
  color: white;
  font-size: 75px;
  line-height: 100%;
  text-align: center;
}

.theplatfortm {
  display: block;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  float: none;
  clear: none;
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
  color: white;
  font-size: 27px;
  line-height: 100%;
  font-weight: 300;
  text-align: center;
}

.landpform {
  margin-top: 30px;
}

.lpagesubmit {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  float: none;
  clear: none;
  background-color: #49ba56;
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
  font-weight: 300;
  text-align: center;
}

.lpagefield {
  display: inline-block;
  width: 488px;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 17px;
  float: none;
}

.lpgaedf {
  color: white;
  font-size: 20px;
  text-align: center;
}

.col12buildboard {
  text-align: center;
}

.colpagechat {
  position: relative;
  left: 0px;
  top: 0px;
  right: auto;
  bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
}

.rowpagetemp {
  position: relative;
  left: 0px;
  top: 0px;
  margin-bottom: 0px;
  padding-bottom: 150px;
  background-image: url('../images/BB Symbol grey.png');
  background-position: 100% 50%;
  background-size: 283px;
  background-repeat: repeat-y;
}

.hoverinfo {
  position: relative;
  top: 0px;
  right: 0px;
  display: block;
  padding-right: 5px;
  padding-left: 5px;
  float: left;
  clear: right;
  border: 2px solid #49ba56;
  border-radius: 30px;
  font-size: 16px;
}

.namehover {
  position: relative;
  top: -1px;
  right: -8px;
  margin-right: 0px;
  margin-left: 0px;
  float: left;
  border: 2px none #49ba56;
  border-radius: 5px;
}

.boardnamehover {
  position: relative;
  top: -2px;
  right: -10px;
  bottom: auto;
  float: left;
  border: 2px none #49ba56;
  border-radius: 5px;
  background-color: white;
}

.logincontainer {
  border: 2px none #49ba56;
  border-radius: 0px;
  background-color: #363636;
  background-image: -webkit-radial-gradient(circle closest-corner at 50% 0%, rgba(77, 77, 77, 0.52), transparent 82%);
  background-image: radial-gradient(circle closest-corner at 50% 0%, rgba(77, 77, 77, 0.52), transparent 82%);
}

.loginsection {
  position: absolute;
  left: 0px;
  top: 172px;
  right: 0px;
  z-index: 2;
  display: none;
  border-radius: 0px;
}

.logincol {
  text-align: center;
}

.loginfield {
  color: white;
  text-align: left;
}

.loginformwrapper {
  margin-right: 25px;
  margin-left: 25px;
}

.loginbuttone {
  border-radius: 20px;
  background-color: #49ba56;
  font-size: 20px;
}

.loginlinkpop {
  margin-right: 10px;
  border: 2px solid #49ba56;
  border-radius: 20px;
  color: white;
  font-size: 21px;
}

.loginlinkpop:hover {
  background-color: #49ba56;
}

.xbuttonlogin {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 8px;
  background-color: transparent;
  color: white;
  font-size: 17px;
}

.board-image {
  margin-top: 25px;
}

._404 {
  margin-top: 25px;
  margin-bottom: 52px;
}

.aboutsection {
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: #f0f0f0;
  background-image: url('../images/future.png');
  background-position: 100% 50%;
  background-size: 387px;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.mapsection {
  background-color: #49ba56;
}

.aboutsection2 {
  padding-top: 10px;
}

.rowabout {
  background-color: rgba(240, 240, 240, 0.85);
}

.whatlanding {
  color: white;
  font-size: 18px;
}

.lpage-containwer {
  text-align: center;
}

.lpage-section {
  position: relative;
  z-index: 2;
}

.twitter {
  position: fixed;
  top: 32px;
  right: -96px;
  bottom: 0px;
  display: block;
}

.twitchat {
  position: fixed;
  top: 10px;
  right: 16px;
  bottom: 0px;
  color: white;
}

.settingcontainer {
  position: fixed;
  left: 252px;
  top: 89px;
  right: 0px;
  z-index: 1;
  display: none;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #49ba56;
  background-color: #f3f3f3;
}

.settings-tabs {
  display: block;
  margin-right: 15px;
  margin-left: 15px;
}

.levelvisitor {
  display: inline-block;
  margin-right: 15px;
  margin-left: 0px;
  padding-right: 0px;
  float: right;
  color: #999;
  font-size: 14px;
  text-decoration: none;
}

.loginblurb {
  margin-bottom: 9px;
  color: white;
}

.pinclass {
  margin-top: 10px;
  margin-bottom: 14px;
  margin-left: 10px;
  font-size: 18px;
}

.changepin {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 0px;
  margin-right: 5px;
  border: 2px solid #49ba56;
  border-radius: 20px;
  background-color: transparent;
  color: black;
}

.boardurl {
  margin-top: 0px;
  padding-top: 0px;
  color: #49ba56;
  font-size: 21px;
}

.radiob {
  float: left;
}

.radioba {
  margin-left: 51px;
}

.radioynform {
  margin-top: 7px;
}

.viewmore {
  color: #49ba56;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
}

.general-settings-tab-content {
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
}

.seachicon {
  margin-top: 5px;
  padding-bottom: 43px;
  padding-left: 43px;
  float: right;
  background-color: transparent;
  background-image: url('../images/search-icon-md.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.pinseach {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  display: none;
  margin-top: 89px;
}

.searchform {
  position: relative;
  z-index: 2;
  margin-left: 100px;
  padding: 5px 20px 20px;
  border: 1px solid #707070;
  background-color: white;
}

.featureinfo {
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: solid solid none;
  border-width: 2px;
  border-color: #dadada;
  background-color: rgba(255, 255, 255, 0.21);
  font-size: 15px;
  font-weight: 400;
}

.featureinfo.final {
  margin-bottom: 5px;
  border-bottom: 2px solid #cfcfcf;
}

.pricetable {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  border-radius: 15px;
  background-color: #49ba56;
}

.pricetable.adv {
  padding-top: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.greyedout {
  display: inline-block;
  color: #dadada;
  text-align: left;
}

.padcontainer {
  padding-right: 10px;
  padding-left: 10px;
}

.pic {
  position: relative;
  height: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}

.iconface {
  position: relative;
  top: -48px;
}
.checkboxfield {
  display: block;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  border: 2px solid #49ba56;
  background-color: rgba(73, 186, 86, 0.1);
  text-align: center;
}

.checkboxfield:hover {
  background-color: rgba(73, 186, 86, 0.3);
}

.checkbox {
  display: inline-block;
  float: none;
  text-align: center;
}

.checkboxtext {
  font-size: 19px;
  font-weight: 300;
}

.form-mid {
  text-align: center;
}

html.w-mod-js *[data-ix="scrollin"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="scrollin-2"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="load"] {
  -webkit-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate(0px, 200px);
}

html.w-mod-js *[data-ix="load-from-left"] {
  -webkit-transform: translate(-400px, 0px);
  -ms-transform: translate(-400px, 0px);
  transform: translate(-400px, 0px);
}

html.w-mod-js *[data-ix="load-from-right"] {
  -webkit-transform: translate(400px, 0px);
  -ms-transform: translate(400px, 0px);
  transform: translate(400px, 0px);
}

html.w-mod-js *[data-ix="slowload"] {
  opacity: 0;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

html.w-mod-js *[data-ix="new-interaction"] {
  display: none;
}

html.w-mod-js *[data-ix="namehoverinitial"] {
  display: none;
}

html.w-mod-js *[data-ix="intial-hide"] {
  display: none;
}

@media (max-width: 991px) {
  h1 {
    text-shadow: none;
  }
  p {
    text-shadow: none;
  }
  .button {
    width: 30%;
  }
  .field {
    width: 70%;
  }

  .right-nav {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .nav-bar {
    padding-left: 84px;
  }
  .navbar2 {
    float: none;
  }
  .red {
    color: darkred;
    font-weight: bold;
  }
  .link {
    width: auto;
    margin-right: 0px;
    border: 2px solid #49ba56;
    border-radius: 5px;
    background-color: #282828;
    font-size: 16px;
  }
  .menubutton {
    position: static;
    left: 0px;
    top: 0px;
    float: left;
  }

  .map {
    width: 82%;
  }
  .lefttayto {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 18%;
  }
  .menu-icon {
    float: none;
  }
  .logintoview {
    position: static;
    margin-bottom: 10px;
  }
  .commenttscontainer {
    padding-right: 0px;
  }
  .voteup {
    margin-left: 0.5%;
  }
  .level0replydiv {
    margin-right: 1px;
    padding-bottom: 1px;
  }
  .colom2 {
    padding-right: 0px;
    padding-left: 2%;
  }

  .colpagechat {
    position: relative;
    left: 0px;
    top: 0px;
    right: auto;
    bottom: 0px;
    overflow-x: visible;
    overflow-y: visible;
  }
}

@media (max-width: 767px) {
  h1 {
    text-shadow: none;
  }
  p {
    text-shadow: none;
  }
  .button {
    width: 40%;
  }
  .field {
    width: 60%;
  }
  .container {
    padding-right: 33px;
    padding-left: 33px;
  }
  .social-section {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .section.hero {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .link {
    margin-left: 0px;
    float: none;
  }
  .pingenerate {
    width: auto;
    margin-right: 0px;
    margin-left: 0px;
    float: none;
  }
  .or {
    padding-bottom: 8px;
    text-align: center;
  }

  .map {
    display: inline-block;
  }
  .about-blurb {
    display: block;
    margin-right: 15px;
    margin-left: 25px;
  }
  .lefttayto {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
  }
  .board-blurb {
    display: inline-block;
    margin-top: -1px;
    margin-right: 15px;
    margin-left: 5px;
    float: right;
  }
  .board-div-block {
    display: block;
  }
  .myface {
    margin-left: 0px;
  }
  .col12buildboard {
    text-align: center;
  }
  .twitter {
    top: auto;
    right: -96px;
    bottom: 0px;
  }
  .twitchat {
    display: none;
  }
  .pricetable {
    margin-bottom: 15px;
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 36px;
    line-height: 46px;
    text-shadow: none;
  }
  h2 {
    font-size: 30px;
    line-height: 31px;
    text-shadow: none;
  }
  p {
    padding-right: 18px;
    padding-left: 18px;
    text-shadow: none;
  }
  .button {
    width: 100%;
    margin-left: 0px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .field {
    width: 100%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    text-align: center;
  }

  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .social-section {
    padding-right: 14px;
    padding-left: 14px;
  }
  .logo {
    max-width: 184px;
  }
  .section {
    padding-top: 47px;
    padding-bottom: 47px;
  }
  .grey-heading {
    text-shadow: none;
  }

  .boardnamhead {
    margin-right: 0px;
    margin-bottom: 5px;
  }
  .sortbutton {
    float: left;
  }
  .hotbutton {
    float: none;
  }
  .topbutton {
    float: left;
  }
  .settingsbutton {
    float: right;
  }
  .replytext {
    padding-left: 41px;
  }
  .replydiv {
    right: 0px;
  }
  .seachicon {
    float: none;
  }
}

